<div class="custom-modal">
  <!-- Modal content -->
  <div class="custom-modal-content">
    <div class="row">
      <div class="col-xs-12">
        <span class="close-modal-span" (click)="onDismissModal()">&times;</span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" *ngIf="loading">
        <h4>Fetching forecast...</h4>
      </div>
      <div class="col-xs-12" *ngIf="error">
        <h4 *ngIf="error">{{ errorMessage }}</h4>
      </div>
      <div class="col-xs-12" *ngIf="!loading && forecastModel">
        <h4>Forecast for {{forecastModel.cityName}}, {{forecastModel.country}} (Next 12 hours):</h4>
      </div>
      <hr>
      <div class="col-xs-12" *ngIf="!loading && forecastModel">
        <ul class="list-group">
          <li *ngFor="let forecast of forecastModel.forecastArray"
              class="list-group-item">
            {{ forecast.date }}:  The temperature will be {{ forecast.temp }} ºC and the wind speed will be {{ forecast.wind }} km/h
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
