@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.weather-forecast-list__items {
  background-color: #fff;
}
.weather-forecast-list__item:first-of-type {
  display: flex;
  align-items: center;
}
.weather-forecast-list__item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
}
.weather-forecast-list__card {
  margin-bottom: 0;
}
.weather-forecast-list__table {
  width: 650px;
  border-collapse: collapse;
  font: 400 14px/1.4 Roboto,Arial,sans-serif;
}
.weather-forecast-list__card>.weather-forecast-list__day, .weather-forecast-list__card>.weather-forecast-list__night {
  display: inline-block;
  vertical-align: top;
  min-width: 51px;
  padding: 3px 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.weather-forecast-list__day {
  background-color: #f0ad4e;
  margin-right: 5px;
}
.weather-forecast-list__night {
  background-color: #999;
}
.weather-forecast-list__naturalPhenomenon {
  font-style: italic;
}
.m-15{
  margin: 15px;
}